body {
  font-family: 'Noto Sans JP', sans-serif;
  front-size: 15px;
}

body,ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, li, ul {
font-family: 'Noto Sans JP', sans-serif;
}

img{
  /* this is limitting the width of the image,
  so it takes 100% width of the parent maxiumum */
  max-width: 100%;
}
nav {
    background-color: #e8b3cf;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul li {
  display: inline-block;
      margin: 0 15px; /*0 refers to top and bottom,
      15px to left and right*/
      padding: 0;
      text-transform: uppercase;
    letter-spacing: 1px;
    front-size: 14px;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav ul{
  margin:0 auto;
  text-align: center;
  padding: 30px;
}
header{
  top: 110px;
  position: relative;
  margin-bottom: 220px;
  background-image: url(../img.background.png);
  background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -145px;

}

h1{
  font-size: 50px;

    line-height: 1;
  margin-bottom: 100px;


}
ul.skills-list {
    text-align: center;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 100px;

    }

    .project {
        margin: 30px 0;
        padding: 50px;
}

.pink {
    background-color: #e8b3cf;
}
footer{
  text-align: center;
}

footer h3 {
  font-size: 30px;
      margin-bottom: 100px;
}
